{% extends 'base.html.twig' %}

{% block title %}Suivi de commande{% endblock %}

{% block content %}
    <div class="container">
        <h1>Suivi de commande</h1>
    </div>
    <div class="container">
        <form method="get" action="{{ path('suivi_commande') }}">
            <div class="form-group">
                <label for="numero">Numéro de commande :</label>
                <input type="text" id="numero" name="numero" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="nom">Nom de commande :</label>
                <input type="text" id="nom" name="nom" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary">
                {% if order is not null %}
                    <a href="{{ path('app_account_order_show', {'reference': order.reference}) }}" style="color: white; text-decoration: none;">
                        Suivre la commande
                    </a>
                {% else %}
                    Suivre la commande
                {% endif %}
            </button>

        </form>
    </div>

{% endblock %}
