{% extends 'base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block content %}

    <div class="container">
        <br>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('app_home') }}">
                        <i class="fa fa-home"></i>  Accueil
                    </a>
                </li>
                <li class="breadcrumb-item">
                        FAQ
                </li>
            </ol>
        </nav>
    </div>
    <section class="py-12 py-sm-24 bg-info-light">
        <div class="container">
            <div class="mb-16 text-center"><span class="fs-9 fw-semibold text-primary text-uppercase" >HAVE ANY QUESTIONS?</span>
                <h2 class="mt-8 mb-0" >Frequently Asked Questions</h2>
            </div>
            <div class="mw-3xl mx-auto">
                <button class="btn p-8 mb-2 w-100 bg-white fw-medium text-start lh-base rounded-4 border border-primary">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h6 class="fs-7 mb-0" >Do you provide any free plan?</h6>
                        </div>
                        <div class="ps-4">
                            <svg width="14" height="9" viewbox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.16732 7.5L7.00065 1.66667L12.834 7.5" stroke="#4F46E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </div>
                    </div>
                    <p class="mw-md mt-4 mb-0 text-secondary" >Lorem ipsum dolor sit amet, to the consectr adipiscing elit. Volutpat tempor to the condi mentum vitae vel purus.</p>
                </button>
                <button class="btn p-8 mb-2 w-100 bg-white fw-medium text-start lh-base rounded-4 border border-primary-light">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h6 class="fs-7 mb-0" >How to claim your 25% discount offer?</h6>
                        </div>
                        <div class="ps-4">
                            <svg width="14" height="9" viewbox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.8327 1.5L6.99935 7.33333L1.16602 1.5" stroke="#111827" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </div>
                    </div>
                    <p class="d-none mw-md mt-4 mb-0 text-secondary" >Lorem ipsum dolor sit amet, to the consectr adipiscing elit. Volutpat tempor to the condi mentum vitae vel purus.</p>
                </button>
                <button class="btn p-8 mb-2 w-100 bg-white fw-medium text-start lh-base rounded-4 border border-primary-light">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h6 class="fs-7 mb-0" >What&rsquo;s your refund policy?</h6>
                        </div>
                        <div class="ps-4">
                            <svg width="14" height="9" viewbox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.8327 1.5L6.99935 7.33333L1.16602 1.5" stroke="#111827" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </div>
                    </div>
                    <p class="d-none mw-md mt-4 mb-0 text-secondary" >Lorem ipsum dolor sit amet, to the consectr adipiscing elit. Volutpat tempor to the condi mentum vitae vel purus.</p>
                </button>
                <button class="btn mb-12 p-8 w-100 bg-white fw-medium text-start lh-base rounded-4 border border-primary-light">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h6 class="fs-7 mb-0" >How to get support for the product?</h6>
                        </div>
                        <div class="ps-4">
                            <svg width="14" height="9" viewbox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.8327 1.5L6.99935 7.33333L1.16602 1.5" stroke="#111827" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </div>
                    </div>
                    <p class="d-none mw-md mt-4 mb-0 text-secondary" >Lorem ipsum dolor sit amet, to the consectr adipiscing elit. Volutpat tempor to the condi mentum vitae vel purus.</p>
                </button>
                <p class="d-flex flex-wrap align-items-center justify-content-center"><span class="me-1" >Still have any questions?</span><a class="btn px-0 btn-link fw-bold" href="#" >Contact us</a></p>
            </div>
        </div>
    </section>{% endblock %}
