{% extends 'base.html.twig' %}

{% block title %}Nos Magasins{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Nos Magasins</h2>
                <div>
                    <p>
                        Bienvenue dans nos magasins ! Chez nous, vous trouverez une large sélection de produits de haute qualité pour répondre à tous vos besoins. Que ce soit des pièces détachées, des cartouches d'encre ou des têtes d'impression, nous avons tout ce dont vous avez besoin.
                    </p>

                    <p>
                        Nos magasins offrent une expérience de shopping agréable et conviviale. Notre équipe dévouée est toujours là pour vous aider et répondre à vos questions. Nous nous engageons à fournir un excellent service à la clientèle et à vous offrir une expérience de magasinage exceptionnelle.
                    </p>

                    <p>
                        En plus de notre vaste sélection de produits, nous proposons également des offres spéciales et des promotions régulières pour vous faire bénéficier des meilleurs prix. Suivez-nous sur les réseaux sociaux et inscrivez-vous à notre newsletter pour ne manquer aucune de nos offres exclusives.
                    </p>

                    <p>
                        Nous sommes fiers de servir notre communauté depuis de nombreuses années et nous sommes impatients de vous accueillir dans nos magasins. Venez nous rendre visite dès aujourd'hui et découvrez tout ce que nous avons à offrir !
                    </p>

                    <p>
                        N'hésitez pas à nous contacter si vous avez des questions ou des demandes spéciales. Notre équipe sera ravie de vous aider. Merci de votre confiance et à bientôt dans nos magasins !
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Ajoutez ici une carte Google Maps avec l'emplacement du magasin -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2623.6118596179513!2d2.3829193768729833!3d48.88467539885581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66dc5f2bf756f%3A0x503f1bd48c513ad4!2s13%20Rue%20Georges%20Auric%2C%2075019%20Paris!5e0!3m2!1sfr!2sfr!4v1690290731353!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
{% endblock %}
