{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block content %}
    <div class="container">
        <h1>À propos</h1>
    </div>
    <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel accumsan elit, id gravida massa. Duis hendrerit faucibus mauris, vel feugiat neque convallis a. Nullam dictum elit vitae sapien ultricies efficitur.</p>
        <!-- Autres informations à ajouter -->
    </div>
{% endblock %}
