{% extends 'base.html.twig' %}

{% block title %}Nos produits{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('app_home') }}">
                        <i class="fa fa-home"></i>  Accueil
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ path('app_products') }}">Nos Produits</a>
                </li>

            </ol>
        </nav>
    </div>
    <main class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-2">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Filtrer</h3>
                            <div class="card-text">
                                {{ form(form) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <h3>Nos produits</h3>
                    <br>
                    <div class="row">
                        {% for product in product_filtre %}
                            <div class="col-6 col-sm-4 col-xl-3">
                                {% include 'product/single_product.html.twig' %}
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="d-flex align-items-center justify-content-center">
                            {{ knp_pagination_render(products) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


{% endblock %}
