{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <br>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('app_home') }}">
                        <i class="fa fa-home"></i>  Accueil
                    </a>
                </li>
                <li class="breadcrumb-item">
                   Inscription</a>
                </li>
            </ol>
        </nav>
    </div>
    <div class="container">
        <h1>Inscription</h1>
    </div>

    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>

        <hr>
    {% endif %}
    <div class="container">
        <div class="w-50">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
