{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <h1>Inscription</h1>
    </div>

    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>

        <hr>
    {% endif %}
    <div class="container">
        <div class="w-50">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
