<div class="container">
    <section class="order-summary">
        <h2 class="title-level1">Commande n° 22405633</h2>
        <div class="checkout-summary">
            <div class="order-info">
                <ul class="order-info-list">
                    <li>Date : 05/05/2021</li>
                    <li>
                        Total Commande :
                        <strong>115,99 €</strong>
                    </li>
                </ul>
                <a href="https://cdn.sarenza.net/legal/1/legal_4.49.pdf?v=20230608160053" target="_blank" class="legal-link">Télécharger nos CGV/CGU</a>
            </div>
        </div>

        <div class="ship-bill-container">

            <aside class="shipping-summary">
                <h3 class="title-separator">Livraison</h3>
                <div class="shipping-subcontainer">

                    <h4 class="title-shipping-mode">Mode de livraison :</h4>

                    <div class="list-shipping-mode">
                        <div class="products-shipped-by">Articles vendus et expédiés par <strong>Sarenza</strong> : </div>
                        <div class="delivery-label">Livraison express à domicile</div>
                    </div>

                    <h4 class="delivery-adress">Adresse de livraison :</h4>
                    <div class="address">
                        <strong>
                            david <span>MARCOVICI</span>
                        </strong><br>
                        inforiel<br>
                        13 RUE GEORGES AURIC CAP19<br>
                        75019 PARIS
                    </div>
                </div>
            </aside>

            <aside class="billing-summary">
                <h3 class="title-separator">Facturation</h3>
                <div class="billing-subcontainer">

                    <h4 class="sub-title">Mode de paiement : </h4>
                    <span class="payment-method-label">Carte bancaire</span>

                    <div class="address">
                        <strong>
                            david <span>MARCOVICI</span>
                        </strong><br>
                        inforiel<br>
                        13 RUE GEORGES AURIC CAP19<br>
                        75019 PARIS
                    </div>
                </div>
            </aside>
        </div>

        <div class="user-basket">
            <h3 class="title-separator">Récapitulatif commande</h3>
            <div class="container-seller">
                <div class="sold-by">2 <span class="sold-and-ship-by">Articles vendus et expédiés par</span> <strong>Sarenza</strong></div>
                <div class="shopper-checkout-summary">
                    <div class="number-of-order">Commande n° 22405633</div>
                    <div class="status">
                        <div class="label shipped">Expédiée le 05/05/2021 </div>
                    </div>
                    <div class="cta-container-billing-follow">

                        <a href="http://www.chronopost.fr/expedier/inputLTNumbersNoJahia.do?listeNumeros=XW362689447JB" target="_blank" class="button alt">Suivre mon colis</a>
                        <a href="/customer/order/invoice/get?orderNumber=22405633" target="_blank" class="button alt">Obtenir une facture</a>
                    </div>
                </div>


                <ul class="product-list">
                    <li class="item" id="Variant3102432">
<span class="media"> <img src="https://cdn.sarenza.cloud/_img/productsv4/0000270335/0000270335_494614_09_74x102.jpg?202103171742&amp;v=20180830155342" alt="adidas originals Stan Smith Cf I eco-responsable" width="87" height="120">
</span> <div class="product">
                            <div class="infos">
<span class="name">
<span class="brand">adidas originals</span>
Stan Smith Cf I eco-responsable
</span>
                                <br>
                                Couleur :
                                Blanc<br>
                                Taille :
                                26<br>
                                Quantité : 1<br>
                            </div>
                        </div>
                        <div class="prices">
                            <strong>50,00 €</strong>
                        </div>
                    </li>
                    <li class="item" id="Variant3102472">
<span class="media"> <img src="https://cdn.sarenza.cloud/_img/productsv4/0000270338/0000270338_494619_09_74x102.jpg?202103261642&amp;v=20180830155342" alt="adidas originals Stan Smith Cf C eco-responsable" width="87" height="120">
</span> <div class="product">
                            <div class="infos">
<span class="name">
<span class="brand">adidas originals</span>
Stan Smith Cf C eco-responsable
</span>
                                <br>
                                Couleur :
                                Blanc<br>
                                Taille :
                                32<br>
                                Quantité : 1<br>
                            </div>
                        </div>
                        <div class="prices">
                            <strong>60,00 €</strong>
                        </div>
                    </li>
                </ul>
                <div class="info-shipping ">
                    <div class="shipping-text">Livraison express à domicile</div>
                    <div class="shipping-price">5,99 €</div>
                </div>
                <div class="about-shopper">
                    Une question ou un problème sur votre commande ?
                    <a href="https://www.sarenza.com/frequently-asked-questions" target="_blank">Consultez les FAQ</a><br>
                </div>
            </div>

            <div class="summary">

                <div class="delivery ">
                    <div class="label">Frais de livraison</div>
                    <div class="price">5,99 €</div>
                </div>


                <div class="total">
                    <div class="label">Total Commande</div>
                    <div class="price">115,99 €</div>
                </div>
            </div>
        </div>
    </section>
</div>